// NOTE(hajae): https://colorhunt.co/palette/fefbf6a6d1e67f52833d3c42
// NOTE(hajae): main colors
$primary: #7F5283;
$primary-blue: #A6D1E6;
$primary-dark: #3D3C42;
$primary-white: #FEFBF6;

$primary-gray: #D8D9DA;
